In [1]:
from pyspark.sql import SparkSession

spark=SparkSession.builder\
      .appName("Colab PySpark Setup")\
      .getOrCreate()

spark

In [32]:
import os

file_path = '/content/drive/MyDrive/PysparkDemo/SalesDataset500Records.csv'
print(os.path.exists(file_path))

True

In [40]:
from google.colab import drive
drive.mount('/content/drive',force_remount=True)

from pyspark.sql.functions import avg, max, sum, count, year, current_date, datediff, col


sales_df=spark.read.csv('/content/drive/MyDrive/PysparkDemo/SalesDataset500Records.csv',header=True,inferSchema=True)
sales_df.show()

Mounted at /content/drive
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

In [41]:
# 1. DataFrame Creation and Inspection
#  Load the CSV using Pandas, PySpark, and Dask.
#  Display the first 5 and last 5 records.
#  Print schema and check data types.

sales_df.show(5)
sales_df.tail(5)
sales_df.printSchema()

+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|OrderID|  CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|            City|PaymentMode|CustomerSince|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
|   2824| Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|    Lake Joyside|Credit Card|   2020-10-15|
|   7912|  Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|   New Jamesside|     Wallet|   2022-03-15|
|   4611|  Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|    Lake Roberto|     Wallet|   2021-08-07|
|   3547|Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15|West Melanieview|     Wallet|   2020-08-08|
|   8527|  Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|       Mariastad|       Cash|   2022-11-15|
+-------+--------------+---------------+------+----------+--------------+--------+----------------+-----------+-------------+
only showing top 5 rows

root
 |-- OrderID: integer (nullable = true)
 |-- CustomerName: string (nullable = true)
 |-- ProductCategory: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- OrderDate: date (nullable = true)
 |-- DeliveryStatus: string (nullable = true)
 |-- Discount: double (nullable = true)
 |-- City: string (nullable = true)
 |-- PaymentMode: string (nullable = true)
 |-- CustomerSince: date (nullable = true)

In [42]:
#  2. Selection, Renaming, and Filtering
#  Select only OrderID, CustomerName, and Amount.
#  Rename Amount to OrderAmount.
#  Filter orders where Amount > 500.
#  Filter orders from a specific city using .query() or .filter()
sales_df.select("OrderID","CustomerName","Amount").withColumnRenamed("Amount","OrderAmount").show()
sales_df.filter((sales_df.Amount)>500).show()
sales_df.filter((sales_df.City)=="Mariastad").show()

+-------+------------------+-----------+
|OrderID|      CustomerName|OrderAmount|
+-------+------------------+-----------+
|   2824|     Donald Walker|     783.04|
|   7912|      Brandon Hall|      905.0|
|   4611|      Donald Booth|     657.96|
|   3547|    Phillip Garcia|     606.89|
|   8527|      Valerie Gray|      77.87|
|   4150|       Amber Perez|     352.37|
|   5554|        Roy Martin|     148.33|
|   2169|    Carolyn Daniel|      14.09|
|   6313|       Patty Perez|      79.83|
|   6155|Jonathan Wilkerson|     882.68|
|   9830|       Kevin Hurst|     870.55|
|   9085| Anthony Rodriguez|     921.73|
|   2040|     Kyle Mcdonald|     327.52|
|   6573|    Jeffrey Chavez|     676.02|
|   2743|  Elizabeth Fowler|      47.06|
|   9837|     Tammy Sellers|      46.15|
|   6038|     David Bradley|     348.51|
|   3060|       John Pierce|     362.09|
|   4295|   Jennifer Powers|     684.26|
|   5061|    George Chapman|     251.89|
+-------+------------------+-----------+
only showing top 20 rows

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|
|   1964|      Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|
|   9834|    Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|
|   3296|     Donald Wright|        Fashion|579.99|2025-05-20|     Cancelled|    0.25|South Lindseyside|     Wallet|   2020-11-01|
|   4502|  Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|
|   1931|      Angela Lopez|    Electronics|686.21|2024-09-07|     Cancelled|    0.17|Lake Michellefurt|        UPI|   2020-12-05|
|   5033|     Amanda Miller|           Toys|552.76|2024-10-25|       Pending|    0.21|     Sarahborough|     Wallet|   2023-04-08|
|   6147|      James Powers|           Toys|561.91|2024-01-22|     Cancelled|    0.05|      Stewartland|Credit Card|   2020-06-16|
|   2127|      Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|
|   5905|   Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30|
|   2512|   Sandra Williams|           Toys|630.21|2024-02-17|       Pending|    0.08|        Lake Tina|        UPI|   2021-02-08|
|   8239|     Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+
only showing top 20 rows

+-------+------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+
|OrderID|CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|     City|PaymentMode|CustomerSince|
+-------+------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+
|   8527|Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|Mariastad|       Cash|   2022-11-15|
+-------+------------+---------------+------+----------+--------------+--------+---------+-----------+-------------+

In [43]:
#  3. Data Manipulation
#  Drop CustomerSince column.
#  Add a new column FinalAmount = Amount - (Amount * Discount).
#  Sort by FinalAmount descending.
#  Replace all “Cancelled” status with “Order Cancelled”.
from pyspark.sql.functions import col
sales_modified_df = sales_df.drop("CustomerSince")

sales_df = sales_df.withColumn("FinalAmount", col("Amount") - (col("Amount") * col("Discount")))
sales_df.orderBy(col("FinalAmount").desc()).show()

+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|OrderID|     CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|      FinalAmount|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
|   5573|   Jordan Frazier|          Books|981.05|2025-03-19|     Cancelled|    0.02|      Sheilaville|       Cash|   2021-07-12|          961.429|
|   8474|      Heidi Brown|    Electronics|968.91|2023-11-23|     Cancelled|    0.02|       Riverafort|       Cash|   2023-03-19|         949.5318|
|   8889|      Karen Garza|          Books| 998.3|2024-10-17|     Cancelled|    0.06|       Johnsonton|Credit Card|   2020-12-17|938.4019999999999|
|   2127|     Jaclyn Moore|      Groceries|933.32|2025-03-11|      Returned|    0.01|      Cherylhaven|       Cash|   2020-06-14|         923.9868|
|   9806|    Samantha Gill|      Groceries|993.17|2024-11-12|     Cancelled|    0.07|     New Seanstad|     Wallet|   2020-10-01|         923.6481|
|   5593|   Kristy Johnson|        Fashion|961.35|2025-05-24|      Returned|    0.05|    Alexisborough|       Cash|   2022-11-30|         913.2825|
|   2120| Alejandra Santos|    Electronics|948.84|2024-05-09|      Returned|    0.04|     Jenniferberg|     Wallet|   2022-03-03|         910.8864|
|   5949|Dr. Michael Evans|           Toys|918.14|2023-07-29|       Pending|    0.01|   East Scottfort|     Wallet|   2022-05-24|908.9585999999999|
|   1422|    Hunter Kramer|          Books| 973.2|2024-09-02|      Returned|    0.07|       Alfredview|       Cash|   2020-08-22|          905.076|
|   2904|   Michelle Burns|        Fashion|922.29|2025-05-01|      Returned|    0.02|      Stokesmouth|Credit Card|   2020-12-23|         903.8442|
|   7566|    Jesus Houston|        Fashion|899.31|2024-11-19|     Delivered|     0.0|       Marshburgh|Credit Card|   2020-11-24|           899.31|
|   7511|      Regina Diaz|           Toys|932.21|2025-02-06|     Cancelled|    0.04|        Smithside|       Cash|   2020-12-10|         894.9216|
|   9085|Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15|894.0781000000001|
|   1436|     James Brooks|      Groceries|978.96|2024-03-28|     Cancelled|    0.09|West Jeffreymouth|Credit Card|   2020-11-02|         890.8536|
|   6008|  Brittany Knight|          Books|903.71|2025-02-19|       Pending|    0.02|       Susanburgh|       Cash|   2020-06-09|         885.6358|
|   9834|   Timothy Duncan|    Electronics|944.55|2024-06-04|     Cancelled|    0.07|      Port Thomas|     Wallet|   2022-02-24|878.4314999999999|
|   8253|  Kevin Patterson|          Books|998.21|2024-08-17|     Cancelled|    0.12|   New Susanville|        UPI|   2021-04-20|         878.4248|
|   7912|     Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|           877.85|
|   1654|   Frank Williams|          Books|903.78|2025-05-27|     Cancelled|    0.03|       Tracyshire|     Wallet|   2022-10-04|         876.6666|
|   9239|    Tracy Montoya|    Electronics|897.41|2025-02-14|     Cancelled|    0.04|        Port John|     Wallet|   2023-02-23|         861.5136|
+-------+-----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+-----------------+
only showing top 20 rows

In [44]:
# 4. Aggregations and GroupBy
#  Count of orders by DeliveryStatus.
#  Average Amount by ProductCategory.
#  Group by City and show total sales.
sales_df.groupBy("DeliveryStatus").count().show()
sales_df.groupBy("ProductCategory").avg("Amount").show()
sales_df.groupBy("City").sum("Amount").withColumnRenamed("sum(Amount)", "TotalSales").show()

+--------------+-----+
|DeliveryStatus|count|
+--------------+-----+
|      Returned|  117|
|     Cancelled|  149|
|     Delivered|  119|
|       Pending|  115|
+--------------+-----+

+---------------+------------------+
|ProductCategory|       avg(Amount)|
+---------------+------------------+
|        Fashion| 500.6308235294116|
|      Groceries|459.51786407766957|
|    Electronics|           551.745|
|          Books| 568.6003773584907|
|           Toys| 534.2837499999999|
+---------------+------------------+

+----------------+----------+
|            City|TotalSales|
+----------------+----------+
|     Ramseymouth|    761.06|
|East Edwardshire|    291.26|
|      Thomasberg|    882.68|
|     Laurenville|    383.26|
| South Colinstad|    786.27|
|    Lake Douglas|    975.09|
|   Williamsmouth|     10.78|
|      Gordonport|    514.99|
|  West Dawnmouth|      12.8|
|        Seanbury|    814.39|
|     Sheilaville|    981.05|
|       Mollybury|    222.02|
|       Lisaville|     45.69|
| Lake Jerrymouth|    404.01|
|       Perezfort|    917.55|
|Port Nicoleshire|    133.78|
|  South Samantha|    229.46|
|     Port Willie|    788.13|
|     Waltersfort|    552.81|
|       Youngbury|    372.95|
+----------------+----------+
only showing top 20 rows

In [45]:
# 5. Null Handling & Update
#  Intentionally inject nulls in City column and handle them using fillna(),
#  dropna().
#  Use .when().otherwise() in PySpark to tag high-value customers (Amount >
#  800).
from pyspark.sql.functions import when
sales_df = sales_df.withColumn("City", when(col("City").isNull(), "Unknown").otherwise(col("City")))
sales_df = sales_df.na.drop(subset=["City"])
sales_df = sales_df.withColumn("CustomerType", when(col("Amount") > 800, "High-Value").otherwise("Regular"))
sales_df.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|     Regular|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|  High-Value|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|     Regular|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|     Regular|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|     Regular|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|     Regular|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|     Regular|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|     Regular|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|     Regular|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|  High-Value|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|  High-Value|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|  High-Value|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|     Regular|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|     Regular|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|     Regular|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|     Regular|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|     Regular|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|     Regular|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|     Regular|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|     Regular|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+
only showing top 20 rows

In [47]:
#  6. Date & Time Functions
#  Extract year and month from OrderDate.
#  Calculate customer loyalty in years = today - CustomerSince.
from pyspark.sql.functions import year, month, datediff, current_date

sales_df = sales_df.withColumn("Year", year("OrderDate")).withColumn("Month", month("OrderDate"))
sales_df = sales_df.withColumn("LoyaltyYears", (datediff(current_date(), col("CustomerSince")) / 365).cast("int"))
sales_df.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|Year|Month|LoyaltyYears|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|     Regular|2024|   12|           4|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|  High-Value|2024|    9|           3|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|     Regular|2025|    1|           3|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|     Regular|2024|    3|           4|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|     Regular|2024|    8|           2|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|     Regular|2024|    1|           3|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|     Regular|2024|    3|           2|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|     Regular|2023|   10|           4|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|     Regular|2023|    6|           4|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|  High-Value|2024|   10|           3|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|  High-Value|2024|    4|           2|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|  High-Value|2024|   10|           2|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|     Regular|2023|   12|           3|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|     Regular|2024|   12|           2|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|     Regular|2024|    9|           4|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|     Regular|2024|    9|           3|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|     Regular|2023|    8|           2|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|     Regular|2023|   12|           2|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|     Regular|2024|    3|           4|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|     Regular|2023|   11|           2|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
only showing top 20 rows

In [49]:
#  7. Joins and Unions
#  Create a second DataFrame with city-wise region mapping.
#  Perform inner and left joins with the main dataset.
#  Union two datasets: e.g., orders from 2023 and 2024.
o23 = sales_df.filter(year("OrderDate") == 2023)
o24 = sales_df.filter(year("OrderDate") == 2024)

combined_df = o23.union(o24)
combined_df.show()

+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
|OrderID|    CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|Year|Month|LoyaltyYears|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
|   2169|  Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|     Regular|2023|   10|           4|
|   6313|     Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|     Regular|2023|    6|           4|
|   2040|   Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|     Regular|2023|   12|           3|
|   6038|   David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|     Regular|2023|    8|           2|
|   3060|     John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|     Regular|2023|   12|           2|
|   5061|  George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|     Regular|2023|   11|           2|
|   1964|    Taylor Heath|           Toys| 578.5|2023-07-28|     Cancelled|    0.01|   West Elizabeth|       Cash|   2021-04-30|           572.715|     Regular|2023|    7|           4|
|   2612|Nicholas Mcbride|        Fashion|219.05|2023-08-26|     Delivered|    0.27|       East James|        UPI|   2022-04-29|          159.9065|     Regular|2023|    8|           3|
|   1828|  Kimberly Smith|           Toys| 89.01|2023-08-14|     Delivered|    0.04|     East Richard|Credit Card|   2022-06-19|           85.4496|     Regular|2023|    8|           2|
|   4502|Stephanie Martin|    Electronics|656.32|2023-06-04|       Pending|     0.2|       Bakermouth|Credit Card|   2021-08-19|           525.056|     Regular|2023|    6|           3|
|   1958| Kimberly Adkins|    Electronics| 98.66|2023-07-17|     Cancelled|    0.13|  New Thomashaven|     Wallet|   2021-02-01|           85.8342|     Regular|2023|    7|           4|
|   5905| Ashley Humphrey|          Books|844.87|2023-12-25|       Pending|    0.28|  North Juliaberg|       Cash|   2021-07-30| 608.3063999999999|  High-Value|2023|   12|           3|
|   8239|   Jessica Smith|          Books|610.08|2023-07-31|     Delivered|    0.09|        New Barry|        UPI|   2021-12-27|          555.1728|     Regular|2023|    7|           3|
|   9379|      Steven Lee|          Books|181.97|2023-07-07|      Returned|    0.22|        Smithside|        UPI|   2023-05-04|          141.9366|     Regular|2023|    7|           2|
|   3851|Elizabeth Kelley|        Fashion|517.15|2023-06-03|     Cancelled|    0.19|    Justinchester|Credit Card|   2022-11-19|418.89149999999995|     Regular|2023|    6|           2|
|   1757|   John Atkinson|          Books|724.04|2023-07-29|      Returned|    0.06|       Perryshire|       Cash|   2021-03-31| 680.5975999999999|     Regular|2023|    7|           4|
|   9486|   Justin Lowery|    Electronics|554.55|2023-09-05|       Pending|    0.24|    Andersonmouth|     Wallet|   2023-04-05|421.45799999999997|     Regular|2023|    9|           2|
|   3607|     Karen Green|          Books|621.24|2023-12-12|     Cancelled|    0.18|       Katiehaven|        UPI|   2022-06-24|          509.4168|     Regular|2023|   12|           2|
|   4919|  Billy Mitchell|    Electronics|653.51|2023-12-31|     Delivered|    0.08|         Luisside|        UPI|   2020-10-05|          601.2292|     Regular|2023|   12|           4|
|   3267| James Hernandez|          Books|593.98|2023-11-16|      Returned|     0.2|   South Rickside|     Wallet|   2022-05-26|           475.184|     Regular|2023|   11|           3|
+-------+----------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+
only showing top 20 rows

In [56]:
#  8. Complex JSON Simulation (Advanced)
#  Convert each order to a JSON string and load it back into a DataFrame.
#  Access nested fields using explode() and get_json_object().
from pyspark.sql.functions import to_json, from_json, schema_of_json, explode,struct

json_df = sales_df.withColumn("json_data", to_json(struct([col(c) for c in sales_df.columns])))
schema = schema_of_json(json_df.select("json_data").first()[0])

j_df = json_df.select(from_json("json_data", schema).alias("data"))
j_df.select("data.OrderID", "data.CustomerName").show()

+-------+------------------+
|OrderID|      CustomerName|
+-------+------------------+
|   2824|     Donald Walker|
|   7912|      Brandon Hall|
|   4611|      Donald Booth|
|   3547|    Phillip Garcia|
|   8527|      Valerie Gray|
|   4150|       Amber Perez|
|   5554|        Roy Martin|
|   2169|    Carolyn Daniel|
|   6313|       Patty Perez|
|   6155|Jonathan Wilkerson|
|   9830|       Kevin Hurst|
|   9085| Anthony Rodriguez|
|   2040|     Kyle Mcdonald|
|   6573|    Jeffrey Chavez|
|   2743|  Elizabeth Fowler|
|   9837|     Tammy Sellers|
|   6038|     David Bradley|
|   3060|       John Pierce|
|   4295|   Jennifer Powers|
|   5061|    George Chapman|
+-------+------------------+
only showing top 20 rows

In [55]:
#  9. Applying Functions
# Create a function to tag orders: “Big”, “Medium”, “Small” based on Amount.
#  Apply it using
# .apply() in Pandas, and UDF in PySpark

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

def order(amount):
    if amount > 800:
        return "Big"
    elif amount > 300:
        return "Medium"
    else:
        return "Small"

order_udf = udf(order, StringType())
sales_df = sales_df.withColumn("OrderTag", order_udf("Amount"))
sales_df.show()

+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+--------+
|OrderID|      CustomerName|ProductCategory|Amount| OrderDate|DeliveryStatus|Discount|             City|PaymentMode|CustomerSince|       FinalAmount|CustomerType|Year|Month|LoyaltyYears|OrderTag|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+--------+
|   2824|     Donald Walker|          Books|783.04|2024-12-26|      Returned|    0.15|     Lake Joyside|Credit Card|   2020-10-15|           665.584|     Regular|2024|   12|           4|  Medium|
|   7912|      Brandon Hall|      Groceries| 905.0|2024-09-12|     Cancelled|    0.03|    New Jamesside|     Wallet|   2022-03-15|            877.85|  High-Value|2024|    9|           3|     Big|
|   4611|      Donald Booth|        Fashion|657.96|2025-01-12|      Returned|    0.01|     Lake Roberto|     Wallet|   2021-08-07|          651.3804|     Regular|2025|    1|           3|  Medium|
|   3547|    Phillip Garcia|        Fashion|606.89|2024-03-24|      Returned|    0.15| West Melanieview|     Wallet|   2020-08-08|          515.8565|     Regular|2024|    3|           4|  Medium|
|   8527|      Valerie Gray|           Toys| 77.87|2024-08-04|     Delivered|    0.17|        Mariastad|       Cash|   2022-11-15| 64.63210000000001|     Regular|2024|    8|           2|   Small|
|   4150|       Amber Perez|          Books|352.37|2024-01-13|     Cancelled|    0.24|  Port Jesseville|       Cash|   2022-01-13|          267.8012|     Regular|2024|    1|           3|  Medium|
|   5554|        Roy Martin|           Toys|148.33|2024-03-04|     Cancelled|    0.27|      Lake Joseph|       Cash|   2023-04-29|          108.2809|     Regular|2024|    3|           2|   Small|
|   2169|    Carolyn Daniel|    Electronics| 14.09|2023-10-07|     Delivered|    0.25|         Grayside|Credit Card|   2021-05-09|10.567499999999999|     Regular|2023|   10|           4|   Small|
|   6313|       Patty Perez|      Groceries| 79.83|2023-06-27|     Cancelled|    0.12|      Richardland|Credit Card|   2021-04-25|           70.2504|     Regular|2023|    6|           4|   Small|
|   6155|Jonathan Wilkerson|        Fashion|882.68|2024-10-14|     Cancelled|    0.27|       Thomasberg|       Cash|   2021-06-20| 644.3563999999999|  High-Value|2024|   10|           3|     Big|
|   9830|       Kevin Hurst|          Books|870.55|2024-04-08|     Delivered|    0.22|      Jeffreyberg|     Wallet|   2022-08-02|           679.029|  High-Value|2024|    4|           2|     Big|
|   9085| Anthony Rodriguez|      Groceries|921.73|2024-10-02|     Cancelled|    0.03|        Port Erin|        UPI|   2022-12-15| 894.0781000000001|  High-Value|2024|   10|           2|     Big|
|   2040|     Kyle Mcdonald|           Toys|327.52|2023-12-15|      Returned|    0.06|Lake Jenniferside|     Wallet|   2021-07-21|307.86879999999996|     Regular|2023|   12|           3|  Medium|
|   6573|    Jeffrey Chavez|          Books|676.02|2024-12-14|     Cancelled|    0.19|      Teresaburgh|     Wallet|   2022-07-30|          547.5762|     Regular|2024|   12|           2|  Medium|
|   2743|  Elizabeth Fowler|    Electronics| 47.06|2024-09-18|     Delivered|    0.13|   East Nathaniel|       Cash|   2021-02-07|           40.9422|     Regular|2024|    9|           4|   Small|
|   9837|     Tammy Sellers|          Books| 46.15|2024-09-10|     Cancelled|    0.05|       Tracyville|        UPI|   2021-12-17|           43.8425|     Regular|2024|    9|           3|   Small|
|   6038|     David Bradley|        Fashion|348.51|2023-08-03|      Returned|    0.23|    Lake Toddland|        UPI|   2022-09-07|268.35269999999997|     Regular|2023|    8|           2|  Medium|
|   3060|       John Pierce|           Toys|362.09|2023-12-25|      Returned|    0.03|       Brandtside|       Cash|   2023-05-09|351.22729999999996|     Regular|2023|   12|           2|  Medium|
|   4295|   Jennifer Powers|    Electronics|684.26|2024-03-19|     Cancelled|    0.21|         Lammouth|        UPI|   2020-12-06|          540.5654|     Regular|2024|    3|           4|  Medium|
|   5061|    George Chapman|    Electronics|251.89|2023-11-28|       Pending|    0.27|       North Chad|       Cash|   2023-02-07|183.87969999999999|     Regular|2023|   11|           2|   Small|
+-------+------------------+---------------+------+----------+--------------+--------+-----------------+-----------+-------------+------------------+------------+----+-----+------------+--------+
only showing top 20 rows